.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-right: 2rem;
  z-index: 5;
}

.navbar h2 {
  color: #ff0000;
}

.logo:hover {
  cursor: pointer;
}

/* hiệu ứng khi cuộn trang */
.bgDark {
  background-color: #111111;
  transition: 0.3s;
}
