/* tạo kiểu container */
.movieList {
  padding-left: 1rem;
  margin-bottom: 4rem;
}

.container {
  padding: 1rem 0 1rem 1rem;
  display: flex;
  gap: 0.8rem;
  overflow: auto;
  scroll-behavior: smooth;
}

.container.search {
  flex-wrap: wrap;
  overflow: unset;
}

/* tạo kiểu img */
.movieList img {
  display: block;
}

.movieList img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 8px 2px #ffffff46;
  transform: scale(1.08);
  transition: box-shadow 0.3s ease-in, transform 0.3s;
}

.netflix img {
  width: 150px;
  height: 225px;
}

.normal img {
  width: 200px;
  height: 125px;
}

/* tạo kiểu cho thanh cuộn */
.container::-webkit-scrollbar {
  height: 6px; /* Đặt chiều rộng cho thanh cuộn */
}

/* tạo kiểu cho phần nền của thanh cuộn */
.container::-webkit-scrollbar-track {
  background: #2c2c2c; /* Đặt màu nền */
}

/* tạo kiểu cho phần con lăn */
.container::-webkit-scrollbar-thumb {
  background: #1b1b1b; /* Đặt màu cho con lăn */
}

/* thay đổi màu của con lăn khi hover */
.container::-webkit-scrollbar-thumb:hover {
  background: #141414; /* Đặt màu khi hover */
}
