.movieDetail {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  padding: 3rem 1.5rem 0 3rem;
  background-color: #111111;
  z-index: 5;
}

.movieDetail img {
  display: block;
  height: 400px;
  width: 100%;
}

.icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.icon:hover {
  cursor: pointer;
}
.icon:hover svg {
  fill: #ff0000;
}

.icon svg {
  fill: #e8eff1;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text h2 {
  padding: 2rem 0;
  border-bottom: 2px solid #e8eff1;
}

.number {
  font-weight: 700;
  font-size: 18px;
}

.media {
  padding: 2rem;
}

/* tạo kiểu cho thanh cuộn */
.movieDetail::-webkit-scrollbar {
  width: 12px; /* Đặt chiều rộng cho thanh cuộn */
}

/* tạo kiểu cho phần nền của thanh cuộn */
.movieDetail::-webkit-scrollbar-track {
  background: #2c2c2c; /* Đặt màu nền */
}

/* tạo kiểu cho phần con lăn */
.movieDetail::-webkit-scrollbar-thumb {
  background: #1b1b1b; /* Đặt màu cho con lăn */
}

/* thay đổi màu của con lăn khi hover */
.movieDetail::-webkit-scrollbar-thumb:hover {
  background: #141414; /* Đặt màu khi hover */
}

@media (max-width: 576px) {
  .movieDetail {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    overflow-x: auto;
    height: 50vh;
    padding: 2rem 1.5rem 0 1.5rem;
  }
  .movieDetail img {
    height: 250px;
  }
  .media {
    padding: 0;
  }
}
