.banner {
  height: 55vh;
  background-size: cover;
  display: flex;
  position: relative;
  margin-bottom: 1.5rem;
}

.text {
  width: 35%;
  position: absolute;
  bottom: 5rem;
  left: 2rem;
}

.text h1 {
  margin-bottom: 2.5rem;
}

.text p {
  margin-top: 0.5rem;
}
.button {
  display: flex;
  gap: 1rem;
}

.button button {
  background-color: #4c525c83;
  color: #fff;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 16px;
}
.button button:hover {
  cursor: pointer;
  background-color: #4c525c;
}

/* Responsive text  */

@media (max-width: 992px) {
  .text {
    width: 50%;
    bottom: 2rem;
    left: 2rem;
  }

  .text h1 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 500px) {
  .text {
    width: 65%;
  }
  .text h1 {
    font-size: 26px;
  }
  .button button {
    padding: 0.5rem 1rem;
  }
  .text p {
    font-size: 14px;
  }
}
