.searchForm {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchForm form {
  background-color: #fff;
  width: 500px;
}

.input {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 3px solid #00bbec;
}

.input input {
  color: #909095;
  font-weight: bold;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 1rem 0;
  width: calc(100% - 25px);
}

.action {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  gap: 1rem;
}

.action button {
  border: none;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
}

.action button:first-child {
  color: #909095;
  background-color: #fff;
}

.action button:first-child:hover {
  border: 1px solid #00bbec;
}

.action button:last-child {
  background-color: #00bbec;
  color: #fff;
}

.action button:last-child:hover {
  background-color: #029dc4;
}

@media (max-width: 550px) {
  .searchForm form {
    width: 100%;
  }
}
